[submodule "framework"]
        path = framework
        url = ../framework.git
[submodule "fuse"]
	path = fuse
	url = ../fuse.git
[submodule "kext"]
	path = kext
	url = ../kext.git
[submodule "prefpane"]
	path = prefpane
	url = ../prefpane.git
